<a href="https://colab.research.google.com/github/soeun7831/python-class/blob/main/20211958%EB%B0%95%EC%86%8C%EC%9D%80_6%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
25.
list_a = [(1,2,3),(7,8,9),(10,234,12)]
list_a[1][1]

8

In [83]:
26.
list_a = [1,3,4,[1,5],[7,9,5]]

print(list_a[0:3])
print()
list_a.append([2,4])
print(list_a)
print()
del list_a[5]
list_a.insert(3,7)
list_a.insert(4,8)
print(list_a)

[1, 3, 4]

[1, 3, 4, [1, 5], [7, 9, 5], [2, 4]]

[1, 3, 4, 7, 8, [1, 5], [7, 9, 5]]

In [33]:
27.
list_a = [1,2,3,'A','apple']
45 in list_a
'App' in list_a

False

In [142]:
28.
list_a = [2,3,4,5,6,7,8,9,10]

print(list_a[::2])
print(list_a[::-1])

[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [98]:
29.

list_b = [1,2,3,4,5,6]
list_c = [10,9,8,7]

print(list_b+list_c[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [137]:
30.
for i in range(-3,0):
  print(i)

-3
-2
-1

In [106]:
31.
list_a = [10,20,30,40,50]
for i in list_a:
  print(i+10)

20
30
40
50
60

In [112]:
32.
list_a = ["삼성전자","삼성출판사","삼성SDI(주)"]
print(list_a[0],":",len(list_a[0]))

삼성전자 : 4

In [117]:
33.
list_a = [3,-5,6,0,8,-10]
for i in list_a:
  if i < 0:
    print(i)

-5
-10

In [ ]:
34.################################
list

In [122]:
35.
numbers = [123,345,23,1,6,789,45,98,104,65]
for i in numbers:
  if i > 100:
    print("100 이상의 수:",i)

100 이상의 수: 123
100 이상의 수: 345
100 이상의 수: 789
100 이상의 수: 104

In [169]:
36.###########################
numbers = [123,345,23,1,6,789,45,98,104,65]
for i in numbers:
  if i%2 == 0 :
    print(i,"는 짝수 입니다")
  else:
    print(i,"는 홀수 입니다")
  print(len(numbers(i)))
  print()

123 는 홀수 입니다

TypeError: ignored

In [ ]:
37.
Numbers = [1,2,3,4,5,6,7,8,9]

output = [[],[],[]]
for number in Numbers:
  output[(number+2)%3]
print(output)

전개연산자
리스트 내부에 사용
a=1,2,3,4}
a.append(5)
b = (*a, *a)
??????